/* - Version 7.8.3 - */


.material-bar,.navbar.navbar-inverse{
	background:#f07200;
	background: #ff3019;
	background: -moz-linear-gradient(top, #f07200 0%, #d95e13 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f07200), color-stop(100%,#d95e13));
	background: -webkit-linear-gradient(top, #f07200 0%,#d95e13 100%);
	background: -o-linear-gradient(top, #f07200 0%,#d95e13 100%);
	background: linear-gradient(to bottom, #f07200 0%,#d95e13 100%);
	color:#ffffff;
}
.material-bar .navbar-item{
	color:#ffffff;
}