/* - Version 991.3.0.0 - */


.material-bar,.navbar.navbar-inverse{
	background:#ff2222;
	background: #ff3019;
	background: -moz-linear-gradient(top, #ff2222 0%, #a41515 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2222), color-stop(100%,#a41515));
	background: -webkit-linear-gradient(top, #ff2222 0%,#a41515 100%);
	background: -o-linear-gradient(top, #ff2222 0%,#a41515 100%);
	background: linear-gradient(to bottom, #ff2222 0%,#a41515 100%);
	color:#ffffff;
}
.material-bar .navbar-item{
	color:#ffffff;
}